
 <body>
    <div class="container">
        <% if(user){ %>
            <%- include('../partials/header') %>
            <% } else{ %>  
                <%- include('../partials/splash') %>
            <% } %>
            <div class="content-container">
                <% if(user){ %>
            <div class="postbox">
                <form id="new-form" action="/posts" method="POST">
                    <textarea rows="8" id="index-post" type="text" name="content" placeholder="Tell us how you really feel..."></textarea>
                    <input id="submit" type="submit" value="Add Post">
                </form> 
            </div>
            <% } else{ %>  
                <% } %>
                <p class="sorted">Most Liked Posts (Descending)</p>
        <% posts.forEach(function(p) { %>
            <div class="post">
                <div class="post-attributes">
                    Posted By: <%= p.author.username %> <%= p.createdAt.toDateString() %>
                </div>
                <div class="post-content">
                    
                    <%= p.content %>
                </div>
               
                <div class="post-links-container">  
                    <div class="like-container">
                        <form action="/posts/<%= p._id %>/like" method="POST">
                            <input type="hidden" name="liked" value="<%p._id %>">
                            <input type="submit" class="like-button" value="ðŸ‘ <%=p.likes.length%>">
                          </form> 
                    </div>
                    <div class="post-links">
                    <a href ="/posts/<%= p._id %>" class="postlinks">View Post (<%= p.comments.length %> Comments)</a>
                    <button name="<%= p._id %>" class="action-button-comment">Reply</button>    
                </div>
            </div>
            <div id="<%= p._id %>" class="show-form">
                <form id="<%= p._id %>" action="/posts/<%= p._id %>/" method="POST">
                    <textarea rows="5" id="index-post" type="text" name="content" placeholder="Reply to post.. (400 char limit)" maxlength="400"></textarea>
                    <input id="submit" type="submit" value="Add Comment">
                  </form> 
              </div>
            </div>
            <br>
        <% }); %>
        
    </div>
</div>
</body>
